/**
 * @name ZeroUI
 * @author 7xeh
 * @description  A sleek, customized Discord theme built for aesthetic and usability.
 * @version 4.0.18
 * @invite QSPhPsq9y5
 * @authorId 785035260852830219
 */

:root {
	--animation-speed: 0.1s;


	/* ───── Base Utility Vars ───── */
	--discord-icon: none;
	--home-icon: block;
	--list-item-transition: 0.2s ease;
	--codeblock-height: 200px;


	/* ───── Only include this part if you wish to change these variables ───── */
	--add-custom-status-text: "Add custom status";
	--add-custom-status-text-margin: 4px;


	/* ───── You can hide the bubble if you change this to 'none' ───── */
	--add-custom-status-hide: block;


	/* ───── change clan tag position ───── */
	--tag-order: 0;


	/* ───── -1 = before username / 0 = default / 1 = after badges ───── */


	/* ───── custom status bar ───── */
	--status-enabled: false;


	/* ───── accepted values: true / false ───── */


	/* ───── background banner ───── */
	--background-width: half;


	/* ───── accepted values: full / half ───── */


	/* ───── right side gradient ───── */
	--right-gradient: false;


	/* ───── accepted values: true / false ───── */


	/* ───── show notes section ───── */
	--show-notes: true;


	/* ───── accepted values: true / false ───── */
	--si-myaccount: var(--si-my-account);
	--si-profilecustomization: var(--si-profile-customization);
	--si-contentsocial: var(--si-content-social);
	--si-dataprivacy: var(--si-data-privacy);
	--si-familycenter: var(--si-family-center);
	--si-authorizedapps: var(--si-authorized-apps);
	--si-settingsclips: var(--si-settings-clips);
	--si-discordnitro: var(--si-discord-nitro);
	--si-nitroserverboost: var(--si-nitro-server-boost);
	--si-libraryinventory: var(--si-library-inventory);
	--si-voicevideo: var(--si-voice-video);
	--si-powermodesettings: var(--si-powermode-settings);
	--si-textimages: var(--si-text-images);
	--si-streamermode: var(--si-streamer-mode);
	--si-activityprivacy: var(--si-activity-privacy);
	--si-gameactivity: var(--si-game-activity);
	--si-hypesquadonline: var(--si-hypesquad-online);
	--si-developeroptions: var(--si-developer-options);
	--si-hotspotoptions: var(--si-hotspot-options);
	--si-dismissiblecontentoptions: var(--si-dismissible-content-options);
	--si-paymentflowmodals: var(--si-payment-flow-modals);
	--si-revenuestorybook: var(--si-revenue-storybook);
	--si-virtualcurrencyconfiguration: var(--si-virtual-currency-configuration);
	--si-designsystem: var(--si-design-system);
	--si-textplayground: var(--si-text-playground);
	--si-textcomponent: var(--si-text-component);
	--si-intltesting: var(--si-intl-testing);
	--si-profileeffectspreviewtool: var(--si-profile-effects-preview-tool);
	--si-nameplatespreviewtool: var(--si-nameplates-preview-tool);
	--si-websettingtreetool: var(--si-web-setting-tree-tool);
	--si-guildtemplates: var(--si-guild_templates);
	--si-vanityurl: var(--si-vanity_url);
	--si-appdirectory: var(--si-app_directory);
	--si-guildautomod: var(--si-guild_automod);
	--si-auditlog: var(--si-audit_log);
	--si-communitywelcome: var(--si-community_welcome);
	--si-guildpremium: var(--si-guild_premium);
	--si-rolesubscriptions: var(--si-role_subscriptions);
	--si-instantinvites: var(--si-instant_invites);
	--si-color-my-account: var(--si-color);
	--si-color-profile-customization: var(--si-color);
	--si-color-content-social: var(--si-color);
	--si-color-data-privacy: var(--si-color);
	--si-color-family-center: var(--si-color);
	--si-color-authorized-apps: var(--si-color);
	--si-color-sessions: var(--si-color);
	--si-color-connections: var(--si-color);
	--si-color-settings-clips: var(--si-color);
	--si-color-discord-nitro: var(--brand-500);
	--si-color-nitro-server-boost: var(--guild-boosting-pink);
	--si-color-subscriptions: var(--si-color);
	--si-color-library-inventory: var(--si-color);
	--si-color-billing: var(--si-color);
	--si-color-appearance: var(--si-color);
	--si-color-accessibility: var(--si-color);
	--si-color-voice-video: var(--si-color);
	--si-color-powermode-settings: var(--si-color);
	--si-color-text-images: var(--si-color);
	--si-color-notifications: var(--si-color);
	--si-color-keybinds: var(--si-color);
	--si-color-language: var(--si-color);
	--si-color-windows: var(--si-color);
	--si-color-linux: var(--si-color);
	--si-color-streamer-mode: var(--si-color);
	--si-color-advanced: var(--si-color);
	--si-color-vencordsettings: var(--si-color);
	--si-color-vencordplugins: var(--si-color);
	--si-color-vencordthemes: var(--si-color);
	--si-color-vencordupdater: var(--si-color);
	--si-color-vencordcloud: var(--si-color);
	--si-color-vencordsettingssync: var(--si-color);
	--si-color-vesktop: var(--si-color);
	--si-color-activity-privacy: var(--si-color);
	--si-color-game-activity: var(--si-color);
	--si-color-overlay: var(--si-color);
	--si-color-changelog: var(--si-color);
	--si-color-merchandise: var(--si-color);
	--si-color-hypesquad-online: var(--si-color);
	--si-color-experiments: var(--si-color);
	--si-color-developer-options: var(--si-color);
	--si-color-hotspot-options: var(--si-color);
	--si-color-dismissible-content-options: var(--si-color);
	--si-color-payment-flow-modals: var(--si-color);
	--si-color-revenue-storybook: var(--si-color);
	--si-color-virtual-currency-configuration: var(--si-color);
	--si-color-design-system: var(--si-color);
	--si-color-text-playground: var(--si-color);
	--si-color-text-component: var(--si-color);
	--si-color-intl-testing: var(--si-color);
	--si-color-profile-effects-preview-tool: var(--si-color);
	--si-color-nameplates-preview-tool: var(--si-color);
	--si-color-web-setting-tree-tool: var(--si-color);
	--si-color-logout: var(--si-color);
	--si-color-overview: var(--si-color);
	--si-color-roles: var(--si-color);
	--si-color-emoji: var(--si-color);
	--si-color-stickers: var(--si-color);
	--si-color-soundboard: var(--si-color);
	--si-color-widget: var(--si-color);
	--si-color-guild_templates: var(--si-color);
	--si-color-vanity_url: var(--si-color);
	--si-color-integrations: var(--si-color);
	--si-color-app_directory: var(--si-color);
	--si-color-moderation: var(--si-color);
	--si-color-safety: var(--si-color);
	--si-color-guild_automod: var(--si-color);
	--si-color-audit_log: var(--si-color);
	--si-color-bans: var(--si-color);
	--si-color-community: var(--si-color);
	--si-color-onboarding: var(--si-color);
	--si-color-analytics: var(--si-color);
	--si-color-partner: var(--si-color);
	--si-color-discovery: var(--si-color);
	--si-color-community_welcome: var(--si-color);
	--si-color-guild_premium: var(--guild-boosting-pink);
	--si-color-role_subscriptions: var(--si-color);
	--si-color-members: var(--si-color);
	--si-color-instant_invites: var(--si-color);
	--si-color-delete: var(--si-color);
	--si-color-permissions: var(--si-color)
}


/* ───── Home Icon Visibility ───── */
[class*=childWrapper]>svg:not([class*=favoriteIcon]) {
	display: var(--discord-icon);
}


/* ───── ───── Sidebar / Channel Hover Slide ───── ───── */
/* Sidebar/channel hover animations */
.wrapper__7bcde .link__95dc0,
.container__4f20e,
.channel_c21703,
.side_b4b3f6 .item__48dda,
.wrapper__2ea32 .link__2ea32 {
	transition: margin-left var(--list-item-transition);
}

/* Sidebar/channel hover animations */
.wrapper__7bcde:hover .link__95dc0,
.side_b4b3f6 .item__48dda:hover,
.wrapper__2ea32:hover .link__2ea32 {
	margin-left: 10px;
}

.container__4f20e:hover,
.channel_c21703:hover {
	margin-left: 18px;
}


/* ───── ───── Context Menu Compact Tweaks ───── ───── */
.layer_da8173>.menu_c1e9c4 {
	min-width: 0;
	width: 171px !important;

	.scroller_c1e9c4 {


		/* ───── border margin ───── */
		margin: -4px;
	}

	.separator_c1e9c4 {


		/* ───── separator margin ───── */
		margin: 1px 8px !important;
	}

	.wrapper_f563df {


		/* ───── reactions margin ───── */
		padding: 0px !important;
		margin: 1px;
	}

	.item_c1e9c4 {


		/* ───── min-height is 32px as default, change value for desired look ───── */
		min-height: 0;


		/* ───── padding is 4px 8px as default, change value for desired look ───── */
		padding: 4px 8px;
	}

	.icon_f563df {


		/* ───── reactions size ───── */
		width: 18px;
	}

	.button_f563df {


		/* ───── reactions border size ───── */
		width: 36px;
		height: 36px;
		border-radius: 4px;
	}

	.icon_c1e9c4 {


		/* ───── icons size ───── */
		width: 18px;
		height: 18px;
	}

	.iconContainer_c1e9c4 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

[class^="chipletContainerInner_"]>span>.unselectable__10651 {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 0;
	will-change: max-width, margin;
	transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1),
		margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover>span>.unselectable__10651 {
	max-width: 20ch;
	margin-right: .3ch;


	/* ───── Prevents it from triggering if you just quickly mouseover :D ───── */
	transition-delay: 0.08s;
}

[class^="chipletContainerInner_"]>span>img.badge__10651 {
	margin-right: 0;
	transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1),
		margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover>span>img.badge__10651 {
	transform: rotateZ(360deg);
	margin-right: .6ch;


	/* ───── Same as above transition delay ───── */
	transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] {
	position: relative;
}

[class^="chipletContainerInner_"]::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	pointer-events: none;
}


/* ───── ───── Spotify Player Styling ───── ───── */
/* Spotify now playing widget */
#vc-spotify-player {
	--blur-amount: 4px;
	--normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));
	position: relative;
	background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
	overflow: hidden;
	transition: all 0.4s ease-out;

	>* {
		filter: drop-shadow(0 0 10px var(--normal-bg-colour));
	}
}

/* Spotify now playing widget */
#vc-spotify-player:hover {
	--blur-amount: 0px;
}

/* Spotify now playing widget */
#vc-spotify-player::before,
#vc-spotify-player::after {
	z-index: -1;
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 0.4s ease-out;
}

/* Spotify now playing widget */
#vc-spotify-player::before {
	background: var(--vc-spotify-track-image);
	background-position: center top;
	background-size: cover;
	opacity: 0.5;
}

/* Spotify now playing widget */
#vc-spotify-player:hover::before {
	opacity: 0.7;
}

/* Spotify now playing widget */
#vc-spotify-player::after {
	backdrop-filter: blur(var(--blur-amount));
}

#vc-spotify-progress-bar>[class^="slider_"]>[class^="bar_"]>[class^="barFill_"] {
	background-color: white !important;
	background: var(--vc-spotify-track-image);
	background-size: 1px 100%;
}

#vc-spotify-progress-bar>[class^="slider_"]>[class^="bar_"]>[class^="barFill_"]::before {
	content: "";
	position: fixed;
	height: inherit;
	width: inherit;
	top: inherit;
	left: inherit;
	border-radius: 4px 0 0 4px;
	backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}


/* ───── ───── Typing Indicator ("yapping") ───── ───── */
/* Typing indicator animation styling */
.typingDots_b88801>.ellipsis_b88801+.text_b88801 {
	font-size: 0;
	height: 16px;

	>strong {
		font-size: 12px;

		&::after {
			color: var(--text-secondary);
			font-weight: 500;
		}

		&:last-child::after {
			content: " is yapping...";
		}

		&:last-child:not(:first-child)::after {
			content: " are yapping...";
		}

		&:nth-last-child(2)::after {
			content: " and "
		}

		&:nth-last-child(3)::after {
			content: ", ";
		}
	}

	&:not(:has(>strong))::after {
		font-size: 12px;
		content: "Several people are yapping...";
	}
}


/* ───── ───── Unread Dot Emoji Hover Effect ───── ───── */
/* Unread message dot hover effect */
.unread__2ea32 {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin-left: -4px;
	transition: var(--list-item-transition);
}

.wrapper__2ea32:hover

/* Unread message dot hover effect */
.unread__2ea32 {
	width: 18px;
	height: 18px;
	margin-top: -10px;
	margin-left: 0px;
	background: url('https://shadowbuds.com/MascotHead.svg') center/18px no-repeat transparent;
}


/* ───── ───── Spotify Theme Tweaks ───── ───── */
.theme-dark

/* Spotify now playing widget */
#vc-spotify-player {
	background-color: var(--background-primary);
}


/* ───── ───── Nitro Tooltip Cleanup ───── ───── */
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) {
	padding: initial;
}

[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) img,
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) h1,
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) h2,
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) [class^="tooltipWordmarkContainer_"] {
	display: none;
}

[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) [class*="tooltipDescription_"] {
	color: inherit !important;
	font: inherit;
	margin: inherit;
}

[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) [class*="tooltipDescription_"]:before {
	content: "Nitro ";
}


/* ───── Nitro Tiers ───── */
[class^="tooltipContainer_"] [src="/assets/242f4d0069d97414.svg"]~div:after {
	content: " (Bronze)";
}

[class^="tooltipContainer_"] [src="/assets/a28ccbd2a55e8413.svg"]~div:after {
	content: " (Silver)";
}

[class^="tooltipContainer_"] [src="/assets/45bb84c5fd852085.svg"]~div:after {
	content: " (Gold)";
}

[class^="tooltipContainer_"] [src="/assets/d343a0b3439e81d1.svg"]~div:after {
	content: " (Platinum)";
}

[class^="tooltipContainer_"] [src="/assets/bb018f1613e8d528.svg"]~div:after {
	content: " (Diamond)";
}

[class^="tooltipContainer_"] [src="/assets/11a893d07ab86fe4.svg"]~div:after {
	content: " (Emerald)";
}

[class^="tooltipContainer_"] [src="/assets/2801bd9ef48c1d87.svg"]~div:after {
	content: " (Ruby)";
}

[class^="tooltipContainer_"] [src="/assets/c20bd44dcc3b5ecb.svg"]~div:after {
	content: " (Opal)";
}


/* ───── Status Colors ───── */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg>path[fill="#23a55a"] {
	fill: #43b581;
}

[class^=memberInner]:has(> div > [aria-label*=Idle]) [class^=subText] svg>path[fill="#23a55a"] {
	fill: #f0b232;
}

[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg>path[fill="#23a55a"] {
	fill: #f23f43;
}

[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg>path[fill="#23a55a"] {
	fill: #643da7;
}

[class^=memberInner] [class^=subText] svg>path[fill="#23a55a"] {
	fill: #747f8d;
}


/* ───── ───── Custom Loading Animation ───── ───── */
.content_a2f514 {
	display: flex;
	flex-direction: column;
}

.content_a2f514>.spinner_a2f514 {
	display: none;
}

.content_a2f514:before {
	display: block;
	height: 128px;
	content: url(https://shadowbuds.com/loadinghead.gif);
	scale: 1;
	margin-bottom: 96px;
}


.contents__201d5.lineHeightReset_f1ceac {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.lottieIcon__5eb9b.centerIcon_f1ceac.experimentControlIcon_f1ceac.controlIcon_f1ceac,
.centerIcon_f1ceac.experimentControlIcon_f1ceac.controlIcon_f1ceac {
	width: 24px !important;
	height: 24px !important;
	color: var(--interactive-normal) !important;
}

.staticButton_f1ceac:hover .lottieIcon__5eb9b.centerIcon_f1ceac.experimentControlIcon_f1ceac.controlIcon_f1ceac,
.staticButton_f1ceac:hover .centerIcon_f1ceac.experimentControlIcon_f1ceac.controlIcon_f1ceac {
	color: var(--interactive-hover) !important;
}


/* ───── ───── Codeblock Scrollbar Styling ───── ───── */
/* Codeblock scroll styling */
.codeContainer__75297>code {
	max-height: var(--codeblock-height);
	overflow-y: scroll;
}

/* Codeblock scroll styling */
.codeContainer__75297>code::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

/* Codeblock scroll styling */
.codeContainer__75297>code::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* Codeblock scroll styling */
.codeContainer__75297>code::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--scrollbar-thin-thumb);
	border: 2px solid transparent;
	border-radius: 4px;
	min-height: 40px;
}

/* Codeblock scroll styling */
.codeContainer__75297>code:hover::-webkit-scrollbar-track,
.codeContainer__75297>code:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

/* Codeblock scroll styling */
.codeContainer__75297>code::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
	border: 2px solid var(--scrollbar-thin-track);
}

@property --si-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 24px
}

@property --si-height {
	syntax: "<length>";
	inherits: true;
	initial-value: 32px
}

@property --si-gap {
	syntax: "<length>";
	inherits: true;
	initial-value: 10px
}

@property --si-animations {
	syntax: "true | false";
	inherits: true;
	initial-value: true
}

@property --si-expand {
	syntax: "true | false";
	inherits: true;
	initial-value: false
}

@property --si-permacolor {
	syntax: "true | false";
	inherits: true;
	initial-value: false
}

@property --si-color {
	syntax: "<color>";
	inherits: true;
	initial-value: currentColor
}

@property --si-opacity {
	syntax: "<number>";
	inherits: true;
	initial-value: .4
}

@property --si-opacity-hover {
	syntax: "<number>";
	inherits: true;
	initial-value: .8
}

@property --si-Default {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg)
}

@property --si-my-account {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Manage_Accounts.svg)
}

@property --si-profile-customization {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Style.svg)
}

@property --si-content-social {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Groups.svg)
}

@property --si-data-privacy {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Security.svg)
}

@property --si-family-center {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Supervisor_Account.svg)
}

@property --si-authorized-apps {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/App_Registration.svg)
}

@property --si-sessions {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Devices.svg)
}

@property --si-connections {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Link.svg)
}

@property --si-settings-clips {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Theaters.svg)
}

@property --si-discord-nitro {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/Nitro.svg)
}

@property --si-nitro-server-boost {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg)
}

@property --si-subscriptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Fact_Check.svg)
}

@property --si-library-inventory {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Redeem.svg)
}

@property --si-billing {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Receipt_Long.svg)
}

@property --si-appearance {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Brush.svg)
}

@property --si-accessibility {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Accessibility_New.svg)
}

@property --si-voice-video {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Perm_Camera_Mic.svg)
}

@property --si-powermode-settings {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/Party.svg)
}

@property --si-text-images {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Chat.svg)
}

@property --si-notifications {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Notifications_Active.svg)
}

@property --si-keybinds {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Keyboard.svg)
}

@property --si-language {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Translate.svg)
}

@property --si-windows {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Logo-Windows.svg)
}

@property --si-linux {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Logo-Tux.svg)
}

@property --si-streamer-mode {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Videocam.svg)
}

@property --si-advanced {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Tune.svg)
}

@property --si-vencordsettings {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg)
}

@property --si-vencordplugins {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Extention.svg)
}

@property --si-vencordthemes {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Format_Paint.svg)
}

@property --si-vencordupdater {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/System_Update_Alt.svg)
}

@property --si-vencordcloud {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Cloud.svg)
}

@property --si-vencordsettingssync {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Backup.svg)
}

@property --si-vesktop {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Vencord.svg)
}

@property --si-activity-privacy {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Privacy.svg)
}

@property --si-game-activity {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Gamepad.svg)
}

@property --si-overlay {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Overlay.svg)
}

@property --si-changelog {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Update.svg)
}

@property --si-merchandise {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Shirt.svg)
}

@property --si-hypesquad-online {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/HypeSquad.svg)
}

@property --si-experiments {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Experiment.svg)
}

@property --si-developer-options {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-hotspot-options {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-dismissible-content-options {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-payment-flow-modals {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-revenue-storybook {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-virtual-currency-configuration {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-design-system {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-text-playground {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-text-component {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-intl-testing {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-profile-effects-preview-tool {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-nameplates-preview-tool {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-web-setting-tree-tool {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Memory.svg)
}

@property --si-logout {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Logout.svg)
}

@property --si-overview {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Info.svg)
}

@property --si-roles {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Badge.svg)
}

@property --si-emoji {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Emoji.svg)
}

@property --si-stickers {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Stickers.svg)
}

@property --si-soundboard {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Soundboard.svg)
}

@property --si-widget {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Widgets.svg)
}

@property --si-guild_templates {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Library_Books.svg)
}

@property --si-vanity_url {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Share.svg)
}

@property --si-integrations {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Mediation.svg)
}

@property --si-app_directory {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Apps.svg)
}

@property --si-moderation {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Safety_Setup.svg)
}

@property --si-safety {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Safety_Setup.svg)
}

@property --si-guild_automod {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/AutoMod.svg)
}

@property --si-audit_log {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Audit_Log.svg)
}

@property --si-bans {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Gavel.svg)
}

@property --si-community {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Info.svg)
}

@property --si-onboarding {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Group_Add.svg)
}

@property --si-analytics {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Insights.svg)
}

@property --si-partner {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/Partner.svg)
}

@property --si-discovery {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Explore.svg)
}

@property --si-community_welcome {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Explore.svg)
}

@property --si-guild_premium {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg)
}

@property --si-role_subscriptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Fact_Check.svg)
}

@property --si-members {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Group.svg)
}

@property --si-instant_invites {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Send.svg)
}

@property --si-delete {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Delete.svg)
}

@property --si-permissions {
	syntax: "<url>";
	inherits: true;
	initial-value: url(https://raw.githubusercontent.com/7xeh/DiscordIcons/master/Icons/SVG/Permissions.svg)
}

.sidebar__23e6b .item_b3f026 {
	padding: calc((var(--si-height) - var(--si-size))/2) 4px !important;
	line-height: var(--si-size)
}

@container root style(--si-animations: true) {
	.sidebar__23e6b .item_b3f026 {
		border-radius: 4px 0px 0px 4px;
		transform: translateZ(0);
		transition: 220ms
	}

	.sidebar__23e6b .item_b3f026:hover,
	.sidebar__23e6b .item_b3f026.selected_b3f026 {
		transform: translateX(8px);
		transition: 160ms
	}
}

@container root style(--si-permacolor: true) {
	.sidebar__23e6b .item_b3f026:before {
		background-color: var(--si-color)
	}
}

@container root style(--si-expand: true) {

	.sidebar__23e6b .item_b3f026:hover,
	.sidebar__23e6b .item_b3f026.selected_b3f026 {
		min-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + var(--si-size)*1.3333333333);
		margin-left: calc(-1*var(--si-size)*1.3333333333)
	}
}

.sidebar__23e6b .item_b3f026 :is(svg, img) {
	display: none !important
}

.sidebar__23e6b .item_b3f026 .selectedBackground_e681d1 {
	background-color: unset !important
}

.sidebar__23e6b .item_b3f026.selected_b3f026.serverBoostTabItem_f7189e {
	background-color: var(--background-modifier-selected) !important
}

.sidebar__23e6b .item_b3f026:is([data-tab-id=DELETE], [data-tab-id=logout]) {
	color: var(--info-danger-foreground) !important
}

.sidebar__23e6b .item_b3f026:is([data-tab-id=DELETE], [data-tab-id=logout]):hover {
	background-color: var(--info-danger-background) !important
}

.sidebar__23e6b .item_b3f026:is([data-tab-id=DELETE], [data-tab-id=logout])::before {
	opacity: .6 !important
}

.sidebar__23e6b .item_b3f026:is([data-tab-id=DELETE], [data-tab-id=logout]):hover::before {
	opacity: 1 !important
}

.sidebar__23e6b .item_b3f026:before {
	content: "";
	float: left;
	width: var(--si-size) !important;
	height: var(--si-size) !important;
	margin-right: 8px;
	opacity: var(--si-opacity);
	transition: 160ms;
	mask: var(--si-Default) center/contain no-repeat;
	background: currentColor;
	margin-top: 0px !important;
	position: static !important;
	background-image: unset !important
}

.sidebar__23e6b .item_b3f026:hover::before {
	opacity: var(--si-opacity-hover)
}

.sidebar__23e6b .item_b3f026.selected_b3f026::before {
	opacity: 1
}

.sidebar__23e6b .item_b3f026:hover::before,
.sidebar__23e6b .item_b3f026.selected_b3f026::before {
	background-color: var(--si-color)
}

.sidebar__23e6b [data-tab-id="my account" i].item_b3f026 {
	--si-color: var(--si-color-my-account)
}

.sidebar__23e6b [data-tab-id="my account" i].item_b3f026:before {
	mask: var(--si-my-account) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="profile customization" i].item_b3f026 {
	--si-color: var(--si-color-profile-customization)
}

.sidebar__23e6b [data-tab-id="profile customization" i].item_b3f026:before {
	mask: var(--si-profile-customization) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="content & social" i].item_b3f026 {
	--si-color: var(--si-color-content-social)
}

.sidebar__23e6b [data-tab-id="content & social" i].item_b3f026:before {
	mask: var(--si-content-social) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="data & privacy" i].item_b3f026 {
	--si-color: var(--si-color-data-privacy)
}

.sidebar__23e6b [data-tab-id="data & privacy" i].item_b3f026:before {
	mask: var(--si-data-privacy) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="family center" i].item_b3f026 {
	--si-color: var(--si-color-family-center)
}

.sidebar__23e6b [data-tab-id="family center" i].item_b3f026:before {
	mask: var(--si-family-center) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="authorized apps" i].item_b3f026 {
	--si-color: var(--si-color-authorized-apps)
}

.sidebar__23e6b [data-tab-id="authorized apps" i].item_b3f026:before {
	mask: var(--si-authorized-apps) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=sessions i].item_b3f026 {
	--si-color: var(--si-color-sessions)
}

.sidebar__23e6b [data-tab-id=sessions i].item_b3f026:before {
	mask: var(--si-sessions) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=connections i].item_b3f026 {
	--si-color: var(--si-color-connections)
}

.sidebar__23e6b [data-tab-id=connections i].item_b3f026:before {
	mask: var(--si-connections) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="settings clips" i].item_b3f026 {
	--si-color: var(--si-color-settings-clips)
}

.sidebar__23e6b [data-tab-id="settings clips" i].item_b3f026:before {
	mask: var(--si-settings-clips) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="discord nitro" i].item_b3f026 {
	--si-color: var(--si-color-discord-nitro)
}

.sidebar__23e6b [data-tab-id="discord nitro" i].item_b3f026:before {
	mask: var(--si-discord-nitro) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="nitro server boost" i].item_b3f026 {
	--si-color: var(--si-color-nitro-server-boost)
}

.sidebar__23e6b [data-tab-id="nitro server boost" i].item_b3f026:before {
	mask: var(--si-nitro-server-boost) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=subscriptions i].item_b3f026 {
	--si-color: var(--si-color-subscriptions)
}

.sidebar__23e6b [data-tab-id=subscriptions i].item_b3f026:before {
	mask: var(--si-subscriptions) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="library inventory" i].item_b3f026 {
	--si-color: var(--si-color-library-inventory)
}

.sidebar__23e6b [data-tab-id="library inventory" i].item_b3f026:before {
	mask: var(--si-library-inventory) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=billing i].item_b3f026 {
	--si-color: var(--si-color-billing)
}

.sidebar__23e6b [data-tab-id=billing i].item_b3f026:before {
	mask: var(--si-billing) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=appearance i].item_b3f026 {
	--si-color: var(--si-color-appearance)
}

.sidebar__23e6b [data-tab-id=appearance i].item_b3f026:before {
	mask: var(--si-appearance) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=accessibility i].item_b3f026 {
	--si-color: var(--si-color-accessibility)
}

.sidebar__23e6b [data-tab-id=accessibility i].item_b3f026:before {
	mask: var(--si-accessibility) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="voice & video" i].item_b3f026 {
	--si-color: var(--si-color-voice-video)
}

.sidebar__23e6b [data-tab-id="voice & video" i].item_b3f026:before {
	mask: var(--si-voice-video) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="powermode settings" i].item_b3f026 {
	--si-color: var(--si-color-powermode-settings)
}

.sidebar__23e6b [data-tab-id="powermode settings" i].item_b3f026:before {
	mask: var(--si-powermode-settings) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="text & images" i].item_b3f026 {
	--si-color: var(--si-color-text-images)
}

.sidebar__23e6b [data-tab-id="text & images" i].item_b3f026:before {
	mask: var(--si-text-images) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=notifications i].item_b3f026 {
	--si-color: var(--si-color-notifications)
}

.sidebar__23e6b [data-tab-id=notifications i].item_b3f026:before {
	mask: var(--si-notifications) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=keybinds i].item_b3f026 {
	--si-color: var(--si-color-keybinds)
}

.sidebar__23e6b [data-tab-id=keybinds i].item_b3f026:before {
	mask: var(--si-keybinds) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=language i].item_b3f026 {
	--si-color: var(--si-color-language)
}

.sidebar__23e6b [data-tab-id=language i].item_b3f026:before {
	mask: var(--si-language) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=windows i].item_b3f026 {
	--si-color: var(--si-color-windows)
}

.sidebar__23e6b [data-tab-id=windows i].item_b3f026:before {
	mask: var(--si-windows) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=linux i].item_b3f026 {
	--si-color: var(--si-color-linux)
}

.sidebar__23e6b [data-tab-id=linux i].item_b3f026:before {
	mask: var(--si-linux) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="streamer mode" i].item_b3f026 {
	--si-color: var(--si-color-streamer-mode)
}

.sidebar__23e6b [data-tab-id="streamer mode" i].item_b3f026:before {
	mask: var(--si-streamer-mode) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=advanced i].item_b3f026 {
	--si-color: var(--si-color-advanced)
}

.sidebar__23e6b [data-tab-id=advanced i].item_b3f026:before {
	mask: var(--si-advanced) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordsettings i].item_b3f026 {
	--si-color: var(--si-color-vencordsettings)
}

.sidebar__23e6b [data-tab-id=vencordsettings i].item_b3f026:before {
	mask: var(--si-vencordsettings) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordplugins i].item_b3f026 {
	--si-color: var(--si-color-vencordplugins)
}

.sidebar__23e6b [data-tab-id=vencordplugins i].item_b3f026:before {
	mask: var(--si-vencordplugins) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordthemes i].item_b3f026 {
	--si-color: var(--si-color-vencordthemes)
}

.sidebar__23e6b [data-tab-id=vencordthemes i].item_b3f026:before {
	mask: var(--si-vencordthemes) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordupdater i].item_b3f026 {
	--si-color: var(--si-color-vencordupdater)
}

.sidebar__23e6b [data-tab-id=vencordupdater i].item_b3f026:before {
	mask: var(--si-vencordupdater) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordcloud i].item_b3f026 {
	--si-color: var(--si-color-vencordcloud)
}

.sidebar__23e6b [data-tab-id=vencordcloud i].item_b3f026:before {
	mask: var(--si-vencordcloud) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vencordsettingssync i].item_b3f026 {
	--si-color: var(--si-color-vencordsettingssync)
}

.sidebar__23e6b [data-tab-id=vencordsettingssync i].item_b3f026:before {
	mask: var(--si-vencordsettingssync) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vesktop i].item_b3f026 {
	--si-color: var(--si-color-vesktop)
}

.sidebar__23e6b [data-tab-id=vesktop i].item_b3f026:before {
	mask: var(--si-vesktop) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="activity privacy" i].item_b3f026 {
	--si-color: var(--si-color-activity-privacy)
}

.sidebar__23e6b [data-tab-id="activity privacy" i].item_b3f026:before {
	mask: var(--si-activity-privacy) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="game activity" i].item_b3f026 {
	--si-color: var(--si-color-game-activity)
}

.sidebar__23e6b [data-tab-id="game activity" i].item_b3f026:before {
	mask: var(--si-game-activity) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=overlay i].item_b3f026 {
	--si-color: var(--si-color-overlay)
}

.sidebar__23e6b [data-tab-id=overlay i].item_b3f026:before {
	mask: var(--si-overlay) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=changelog i].item_b3f026 {
	--si-color: var(--si-color-changelog)
}

.sidebar__23e6b [data-tab-id=changelog i].item_b3f026:before {
	mask: var(--si-changelog) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=merchandise i].item_b3f026 {
	--si-color: var(--si-color-merchandise)
}

.sidebar__23e6b [data-tab-id=merchandise i].item_b3f026:before {
	mask: var(--si-merchandise) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="hypesquad online" i].item_b3f026 {
	--si-color: var(--si-color-hypesquad-online)
}

.sidebar__23e6b [data-tab-id="hypesquad online" i].item_b3f026:before {
	mask: var(--si-hypesquad-online) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=experiments i].item_b3f026 {
	--si-color: var(--si-color-experiments)
}

.sidebar__23e6b [data-tab-id=experiments i].item_b3f026:before {
	mask: var(--si-experiments) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="developer options" i].item_b3f026 {
	--si-color: var(--si-color-developer-options)
}

.sidebar__23e6b [data-tab-id="developer options" i].item_b3f026:before {
	mask: var(--si-developer-options) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="hotspot options" i].item_b3f026 {
	--si-color: var(--si-color-hotspot-options)
}

.sidebar__23e6b [data-tab-id="hotspot options" i].item_b3f026:before {
	mask: var(--si-hotspot-options) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="dismissible content options" i].item_b3f026 {
	--si-color: var(--si-color-dismissible-content-options)
}

.sidebar__23e6b [data-tab-id="dismissible content options" i].item_b3f026:before {
	mask: var(--si-dismissible-content-options) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="payment flow modals" i].item_b3f026 {
	--si-color: var(--si-color-payment-flow-modals)
}

.sidebar__23e6b [data-tab-id="payment flow modals" i].item_b3f026:before {
	mask: var(--si-payment-flow-modals) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="revenue storybook" i].item_b3f026 {
	--si-color: var(--si-color-revenue-storybook)
}

.sidebar__23e6b [data-tab-id="revenue storybook" i].item_b3f026:before {
	mask: var(--si-revenue-storybook) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="virtual currency configuration" i].item_b3f026 {
	--si-color: var(--si-color-virtual-currency-configuration)
}

.sidebar__23e6b [data-tab-id="virtual currency configuration" i].item_b3f026:before {
	mask: var(--si-virtual-currency-configuration) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="design system" i].item_b3f026 {
	--si-color: var(--si-color-design-system)
}

.sidebar__23e6b [data-tab-id="design system" i].item_b3f026:before {
	mask: var(--si-design-system) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="text playground" i].item_b3f026 {
	--si-color: var(--si-color-text-playground)
}

.sidebar__23e6b [data-tab-id="text playground" i].item_b3f026:before {
	mask: var(--si-text-playground) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="text component" i].item_b3f026 {
	--si-color: var(--si-color-text-component)
}

.sidebar__23e6b [data-tab-id="text component" i].item_b3f026:before {
	mask: var(--si-text-component) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="intl testing" i].item_b3f026 {
	--si-color: var(--si-color-intl-testing)
}

.sidebar__23e6b [data-tab-id="intl testing" i].item_b3f026:before {
	mask: var(--si-intl-testing) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="profile effects preview tool" i].item_b3f026 {
	--si-color: var(--si-color-profile-effects-preview-tool)
}

.sidebar__23e6b [data-tab-id="profile effects preview tool" i].item_b3f026:before {
	mask: var(--si-profile-effects-preview-tool) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="nameplates preview tool" i].item_b3f026 {
	--si-color: var(--si-color-nameplates-preview-tool)
}

.sidebar__23e6b [data-tab-id="nameplates preview tool" i].item_b3f026:before {
	mask: var(--si-nameplates-preview-tool) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id="web setting tree tool" i].item_b3f026 {
	--si-color: var(--si-color-web-setting-tree-tool)
}

.sidebar__23e6b [data-tab-id="web setting tree tool" i].item_b3f026:before {
	mask: var(--si-web-setting-tree-tool) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=logout i].item_b3f026 {
	--si-color: var(--si-color-logout)
}

.sidebar__23e6b [data-tab-id=logout i].item_b3f026:before {
	mask: var(--si-logout) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=overview i].item_b3f026 {
	--si-color: var(--si-color-overview)
}

.sidebar__23e6b [data-tab-id=overview i].item_b3f026:before {
	mask: var(--si-overview) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=roles i].item_b3f026 {
	--si-color: var(--si-color-roles)
}

.sidebar__23e6b [data-tab-id=roles i].item_b3f026:before {
	mask: var(--si-roles) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=emoji i].item_b3f026 {
	--si-color: var(--si-color-emoji)
}

.sidebar__23e6b [data-tab-id=emoji i].item_b3f026:before {
	mask: var(--si-emoji) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=stickers i].item_b3f026 {
	--si-color: var(--si-color-stickers)
}

.sidebar__23e6b [data-tab-id=stickers i].item_b3f026:before {
	mask: var(--si-stickers) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=soundboard i].item_b3f026 {
	--si-color: var(--si-color-soundboard)
}

.sidebar__23e6b [data-tab-id=soundboard i].item_b3f026:before {
	mask: var(--si-soundboard) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=widget i].item_b3f026 {
	--si-color: var(--si-color-widget)
}

.sidebar__23e6b [data-tab-id=widget i].item_b3f026:before {
	mask: var(--si-widget) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=guild_templates i].item_b3f026 {
	--si-color: var(--si-color-guild_templates)
}

.sidebar__23e6b [data-tab-id=guild_templates i].item_b3f026:before {
	mask: var(--si-guild_templates) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=vanity_url i].item_b3f026 {
	--si-color: var(--si-color-vanity_url)
}

.sidebar__23e6b [data-tab-id=vanity_url i].item_b3f026:before {
	mask: var(--si-vanity_url) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=integrations i].item_b3f026 {
	--si-color: var(--si-color-integrations)
}

.sidebar__23e6b [data-tab-id=integrations i].item_b3f026:before {
	mask: var(--si-integrations) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=app_directory i].item_b3f026 {
	--si-color: var(--si-color-app_directory)
}

.sidebar__23e6b [data-tab-id=app_directory i].item_b3f026:before {
	mask: var(--si-app_directory) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=moderation i].item_b3f026 {
	--si-color: var(--si-color-moderation)
}

.sidebar__23e6b [data-tab-id=moderation i].item_b3f026:before {
	mask: var(--si-moderation) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=safety i].item_b3f026 {
	--si-color: var(--si-color-safety)
}

.sidebar__23e6b [data-tab-id=safety i].item_b3f026:before {
	mask: var(--si-safety) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=guild_automod i].item_b3f026 {
	--si-color: var(--si-color-guild_automod)
}

.sidebar__23e6b [data-tab-id=guild_automod i].item_b3f026:before {
	mask: var(--si-guild_automod) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=audit_log i].item_b3f026 {
	--si-color: var(--si-color-audit_log)
}

.sidebar__23e6b [data-tab-id=audit_log i].item_b3f026:before {
	mask: var(--si-audit_log) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=bans i].item_b3f026 {
	--si-color: var(--si-color-bans)
}

.sidebar__23e6b [data-tab-id=bans i].item_b3f026:before {
	mask: var(--si-bans) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=community i].item_b3f026 {
	--si-color: var(--si-color-community)
}

.sidebar__23e6b [data-tab-id=community i].item_b3f026:before {
	mask: var(--si-community) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=onboarding i].item_b3f026 {
	--si-color: var(--si-color-onboarding)
}

.sidebar__23e6b [data-tab-id=onboarding i].item_b3f026:before {
	mask: var(--si-onboarding) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=analytics i].item_b3f026 {
	--si-color: var(--si-color-analytics)
}

.sidebar__23e6b [data-tab-id=analytics i].item_b3f026:before {
	mask: var(--si-analytics) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=partner i].item_b3f026 {
	--si-color: var(--si-color-partner)
}

.sidebar__23e6b [data-tab-id=partner i].item_b3f026:before {
	mask: var(--si-partner) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=discovery i].item_b3f026 {
	--si-color: var(--si-color-discovery)
}

.sidebar__23e6b [data-tab-id=discovery i].item_b3f026:before {
	mask: var(--si-discovery) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=community_welcome i].item_b3f026 {
	--si-color: var(--si-color-community_welcome)
}

.sidebar__23e6b [data-tab-id=community_welcome i].item_b3f026:before {
	mask: var(--si-community_welcome) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=guild_premium i].item_b3f026 {
	--si-color: var(--si-color-guild_premium)
}

.sidebar__23e6b [data-tab-id=guild_premium i].item_b3f026:before {
	mask: var(--si-guild_premium) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=role_subscriptions i].item_b3f026 {
	--si-color: var(--si-color-role_subscriptions)
}

.sidebar__23e6b [data-tab-id=role_subscriptions i].item_b3f026:before {
	mask: var(--si-role_subscriptions) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=members i].item_b3f026 {
	--si-color: var(--si-color-members)
}

.sidebar__23e6b [data-tab-id=members i].item_b3f026:before {
	mask: var(--si-members) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=instant_invites i].item_b3f026 {
	--si-color: var(--si-color-instant_invites)
}

.sidebar__23e6b [data-tab-id=instant_invites i].item_b3f026:before {
	mask: var(--si-instant_invites) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=delete i].item_b3f026 {
	--si-color: var(--si-color-delete)
}

.sidebar__23e6b [data-tab-id=delete i].item_b3f026:before {
	mask: var(--si-delete) center/contain no-repeat
}

.sidebar__23e6b [data-tab-id=permissions i].item_b3f026 {
	--si-color: var(--si-color-permissions)
}

.sidebar__23e6b [data-tab-id=permissions i].item_b3f026:before {
	mask: var(--si-permissions) center/contain no-repeat
}

.visual-refresh {
	.inner_c0bea0 {
		>header {
			&:has(.container_ab8609) {
				min-height: calc(var(--custom-user-profile-banner-height) + 50px) !important;
			}

			&:has(.headerInner__24502) {
				min-height: calc(var(--custom-user-profile-banner-height) + 85px) !important;
			}
		}

		>.none_d125d2 .header__7f9c0:has(.container_ab8609),
		>.header__5a2c6,
		>.header__5be3e:has(.container_ab8609) {
			min-height: calc(var(--custom-user-profile-banner-height) + 57px) !important;
		}

		header>.headerInner__24502>.container_ab8609,
		header>.container_ab8609,
		>.none_d125d2 .header__7f9c0>.container_ab8609,
		>.header__5a2c6>.container_ab8609,
		>.header__5be3e>.container_ab8609 {
			display: var(--add-custom-status-hide);
			top: calc(var(--custom-user-profile-banner-height) + 9px) !important;
			left: 117px !important;

			>.outer_ab8609 {
				max-width: 167px !important;

				&:before {
					height: 20px;
					width: 20px;
					top: 32px;
					left: -25px;
				}

				&:after {
					height: 10px;
					width: 10px;
					top: 31px;
					left: -43px;
				}

				>.inner_ab8609 {
					>.content_ab8609 {
						max-height: none !important;

						>.text-sm\/normal_cf4812.statusText_ab8609.italicPrompt_ab8609 {
							font-size: 0;

							&:after {
								content: var(--add-custom-status-text);
								font-size: 14px;
							}
						}
					}

					>.addStatusIcon_ab8609 {
						margin-right: var(--add-custom-status-text-margin);
					}

					>.defaultColor__4bd52.text-sm\/normal_cf4812.addStatusPrompt_ab8609.italicPrompt_ab8609 {
						font-size: 0;

						&:after {
							content: var(--add-custom-status-text);
							font-size: 14px;
						}
					}
				}
			}
		}

		header>.headerInner__24502>.container_ab8609 {
			top: 35px !important;
			left: 180px !important;
			transform: scale(1.15);

			>.outer_ab8609:after {
				top: 26px;
			}
		}
	}
}

.buttonsInner__5126c>.button_f7ecac>div,
.buttonsInner__5126c>div:not(:last-of-type) {
	width: 0;
	min-width: 0;
	margin: 0;
	padding: 0;
	height: 0;
	opacity: 0;
	transition: min-width var(--animation-speed) ease-out,
		width var(--animation-speed) ease-out,
		height var(--animation-speed) ease-out,
		padding var(--animation-speed) ease-out,
		opacity var(--animation-speed) ease-out;
}

.buttonsInner__5126c:hover>.button_f7ecac:not([aria-label^="Click to "]),

/* ─────  Change "Click to" to your language ───── */
.buttonsInner__5126c:has(> .button_f7ecac:hover ~ .button_f7ecac[aria-label="Add Reaction"],

	/* ───── Change "Add Reaction" to your language ───── */
	> [aria-label="Add Reaction"]:hover

	/* ─────  Change "Add Reaction" to your language ───── */
)>.button_f7ecac[aria-label^="Click to "] {

	/* ─────  Change "Click to" to your language ───── */
	width: 24px;
	height: 24px;
	min-width: 24px;
	padding: 2px;
	opacity: 1;

	>div {
		width: 20px;
		height: 20px;
		opacity: 1;
		transform: .4s cubic-bezier(.16, 1, .3, 1)
	}
}

.separator_f84418 {
	display: none;
}